doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='/stylesheets/sideMenu.css')
    link(rel='stylesheet', href='/stylesheets/addBook.css')
    link(rel='stylesheet', href='/stylesheets/authors.css')
    script(type='text/javascript' src='/javascripts/jquery-2.2.0.min.js')
    script(type='text/javascript' src='/javascripts/books.js')
    script(type='text/javascript' src='/javascripts/addBooks.js')
    script(type='text/javascript' src='/javascripts/editBooks.js')
    include header.jade
  body
    div(class="sideMenuContainer")
      include sideMenu.jade
      block content
