nav
  ul(class="navListContainer")
    div(class="navAuthorsContainer")
      li(class="navListHeader")
        ul
          li(class="navListItem")
            a(href="") Authors
              //- p
              //-   img(class="bookImage", src= "/images/Book_6-128.png")
          li(class="navListItem")
            a(href="") Add
              //- p
              //-   img(class="bookImage", src= "/images/Book_6-128.png")
      h2(class="navMenuHeaders") Authors
    div(class="navBooksContainer")
      li(class="navListHeader")
        ul
          li(class="navListItem")
            a(href="/books/") Books
              //- p
              //-   img(class="bookImage", src= "/images/Book_6-128.png")
          li(class="navListItem")
            a(href="/books/new") Add
              //- p
              //-   img(class="bookImage", src= "/images/Book_6-128.png")
      h2(class="navMenuHeaders") Books
